.Geral {text-align: center;}
body {background-image: linear-gradient(to right, #CAD606, #DED70B);}
    
ul {display: flex;
  flex-direction: column;
  align-items: center;}

.TXTGREEN {color: hwb(120 0% 50%)}
audio {
  display: block;
  margin: 0 auto;
}

.video{text-align: center;}

.linkdv {
  text-align: center;
}

.linkdv iframe {
  max-width: 350px;
  height: auto;
}


.fotos {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  }
  

  @media only screen and (max-width: 768px) {
  .fotos img {
      max-width: 125px;
    margin-right: 1px;}
  }
  
  .txt {
    text-align: justify;
  }


  
