*{
  max-width: 100%;
}

.Geral {text-align: center;}
body {background-image: linear-gradient(45deg, #f8ea7c, #f5ea85);}
    
h2 {
  text-decoration: underline black;
}

.nome{
  text-shadow: 0.5em 0.5em 1em black;
}

.pagina {
margin: auto;
display: flex;
max-width: 11em;
padding-top: 1em;
text-decoration: underline overline black;
border-radius: 3em;
}

 .trabalhos {
  text-align: center;
  color: green;
  text-decoration: underline;
  background-color: black;
  border-radius: 10px;
  }

.sbm {
  background-color: rgba(60, 255, 0, 0.267);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: .5em;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.301);
}

ul {display: flex;
  flex-direction: column;
  align-items: center;}

.TXTGREEN {color: hwb(120 0% 50%)}
audio {
  text-decoration: underline;
  display: block;
  margin: 0 auto;
}

.point {
  text-decoration: underline;
}

.video{text-align: center;}

.linkdv {
  text-align: center;
}



.fotos {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  }
  

  @media only screen and (max-width: 768px) {
  .fotos img {
      max-width: 125px;
    margin-right: 1px;}
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

  .txt {
    text-align: justify;
    margin: 2em;
  }

  .txtm {
    font-family: 'Kalam', cursive, sans-serif;
  }

.insta {
  width: 2.3em;
}

.lista {
  justify-content: center;
  margin-right: 0.8em;
}
  
