*{
  max-width: 100%;
}

body {
  margin: auto;

}
nav {
  display: flex;
  background-color: black;
  justify-content: right;
  padding: 10px;
  position: fixed;
  width: 100%;
  overflow: hidden;
}

.links:hover{
  color: #b0e0e6;
  border: 1px solid #b0e0e6;
  background-color: black;
}

.navegador:hover{
  color: rgb(233, 233, 79);
  border: 1px solid #b0e0e6;
  background-color: black;
}


.navegador {
  
  margin-right: 30px;
  color: white;
  text-decoration: none; 
  font-size: 14px;
  }


.Geral {text-align: center;}
body {background-image: linear-gradient(45deg, #f8ea7c, #f5ea85);}
    
h2 {
  text-decoration: underline black;
}

.nome{
  text-shadow: 0.5em 0.5em 1em black;
}



 .trabalhos {
  text-align: center;
  color: green;
  text-decoration: underline;
  background-color: black;
  margin-bottom: 15px;  }

.sbm {
  background-color: rgba(60, 255, 0, 0.267);
  padding-left: .5em;
  padding-right: .5em;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  border-radius: .5em;
  box-shadow: .5em .5em 1em rgba(0, 0, 0, 0.301);
}

ul {display: flex;
  flex-direction: column;
  align-items: center;}

.TXTGREEN {color: hwb(120 0% 50%)}
audio {
  text-decoration: underline;
  display: block;
  margin: 0 auto;
}

.point {
  text-decoration: underline;
}

.video{text-align: center;}


.linkdv {
  text-align: center;
}



.fotos {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  }
  

  @media only screen and (max-width: 768px) {
  .fotos img {
      max-width: 125px;
    margin-right: 1px;}
  }
  
  @import url('https://fonts.googleapis.com/css2?family=Kalam:wght@300&display=swap');

  .txt {
    text-align: justify;
    margin: 2em;
  }

  .txtm {
    font-family: 'Kalam', cursive, sans-serif;
  }

.insta {
  width: 2.3em;
}

.lista {
  justify-content: center;
  margin-right: 0.8em;
}
  
.conteiner {
  display: flex; 
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
}

.pagina:hover{
  width: 180px;
  height: 130px;
}

.pagina {
 width: 150px;
 height: 100px;
 border: 5px solid #1df80079;
 border-left: 10px solid #1df80079;
 border-right: 10px solid #1df80079;
 border-radius: 40px;
 box-shadow: -2px 2px 2px rgb(238, 255, 0);
 
}

.fim{
  background-color: black;
  padding-top: 5px;
  padding-bottom: 35px;

}
